@import '../../assets/styles/index.scss';

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;

  button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: $yellow;
    border-radius: 0.5rem;
  }

  .disabled {
    pointer-events: none;

    button {
      background-color: $yellow-shade;
    }
  }
}
