@import '../../assets/styles/index.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    color: $navy;
  }

  p {
    text-decoration: none;
    color: #777;
    margin: 0;

    span {
      font-weight: bold;
    }
  }
}

.bottom {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
