@import '../../assets/styles/index.scss';

footer {
  width: 100vw;
  background-color: $navy;

  .wrapper {
    width: calc(100% - 2rem);
    max-width: 960px;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    align-items: center;
    color: $primary;

    & > * {
      min-width: 17rem;
    }

    .brand {
      a {
        text-decoration: none;
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;

        img {
          height: 3rem;
          filter: invert(99%) sepia(66%) saturate(0%) hue-rotate(255deg)
            brightness(105%) contrast(101%);
        }
      }

      p {
        margin: 0;
        font-size: smaller;
        color: #ccc;

        a {
          color: inherit;
          font-size: inherit;
          display: contents;
        }
      }
    }

    .categories {
      display: flex;
      flex-direction: column;
      width: fit-content;
      gap: 0.25rem;

      h4 {
        font-size: 1.25rem;
        margin: 0;
        margin-bottom: 0.5rem;
        color: white;
      }

      a {
        text-decoration: none;
        color: white;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
