$navy: #1c1a4e;
$primary: #2b46a6;
$yellow: #ffc500;
$yellow-shade: #ffd600;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #cccccc33;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #cccccc33;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
}
