main {
  width: 100vw;
  position: relative;

  section {
    width: calc(100% - 2rem);
    max-width: 960px;
    padding: 1rem;
    margin: 0 auto;
    background-color: white;
    min-height: calc(100vh - 7rem - 1px);
  }
}
